.parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.parent-div .child-div {
    flex: 25%;
    max-width: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
.parent-div .child-div img{
    width: 200px;
    height: 200px;
}